div {
    border-style: solid;
    margin: auto;
}
h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2 {
    color:rgb(141, 141, 230);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(141, 141, 230);
}
header{
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    width: 65%;
    height: 20%;
    margin: auto;
    background-color: lightcyan;


}
header a {
    margin-left: 20px;
    margin-right: 20px;

}
.intro {
    width: 65%;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    background-color: lightcyan;
}
.more-info {
    width: 65%;
    height: 10%;
    border-radius: 10px;
    text-align: center;
    padding: auto;
    background-color: lightcyan;
    margin-top: 20px;
    
}
footer {
    border-style: solid;
    border-radius: 10px;
    width: 65%;
    margin: auto;
    margin-top: 15%;
    background-color: lightcyan;

}